node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env*

src/constants/app.txt
.easignore
google-services.json
GoogleService-Info.plist
my-keystore.keystore
# macOS
.DS_Store
