node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

src/constants/app.txt
.easignore
google-services.json
GoogleService-Info.plist

# macOS
.DS_Store
